<div class="jumbotron">
  <h1 class="display-4"><%= message %></h1>
  <p class="lead">Plan and organize your perfect outdoor gatherings with ease.</p>
  <hr class="my-4">
  <p>Create picnic events, manage guest lists, track items, and more with our simple and intuitive app.</p>
  <a class="btn btn-primary btn-lg" href="/picnics" role="button">View Picnics</a>
  <a class="btn btn-success btn-lg" href="/picnics/new" role="button">Create New Picnic</a>
</div>

<div class="row mt-5">
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Plan Your Picnic</h5>
        <p class="card-text">Create and organize picnic events with details like location, date, and attendees.</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Manage Items</h5>
        <p class="card-text">Keep track of food, drinks, games, and other items needed for your picnic.</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Invite Friends</h5>
        <p class="card-text">Easily invite friends and family to join your picnic events.</p>
      </div>
    </div>
  </div>
</div>
